jQuery.fn.hide_toggler = function() {

  this.on('click', function(event) {
    $(this).closest('.toggler_parent').find('.togger_child').slideToggle('fast');
    event.preventDefault();
  });
  return this;
}


function add_loading_image_on_toggler_form_submit() {
	/*
	<div class="wip"> //waiting image parent
		<div class="wic"></div> //waiting image container
	</div>
	*/
	$('.toggler form').on('submit', function() {
		$(this).closest('.wip').find('.wic').append('<%=image_tag('loading_bar.gif', size: '100x15', class: 'loading')%>');
		$(this).slideUp('fast');
		$(this).closest('.toggler').find('.add_fields').slideDown('slow', adjustHeight);
	});

}

jQuery.fn.remove_loading_image = function() {
   $(this).find('img.loading').remove();
  return this;
}

document.addEventListener("page:load",add_loading_image_on_toggler_form_submit);