/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 10;

}

/* just some content with arbitrary styles for explanation purposes */
.modal {
    width: 150px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    z-index: 11; /* 1px higher than the overlay layer */
}

#timeout {
  z-index: 20;
  height: 80px;
  border-radius: 10px;
  width: 300px;
  border: 10px solid #CF5713;
  background: #FF8632;
  span {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    display: block;
    vertical-align: middle;
  }
  
}

